body {
    background-image: url('https://images4.alphacoders.com/588/588808.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #FFFFFF;
    }